article/**
.DS_Store
.ipynb_checkpoints
.idea/*
**/.Rhistory
*.nb.html
*.Rdata
*.Rproj
.Rproj.user
*.pyc
*.h5
*.csv
*.gz
*.xls
**/*.npy
**/*.json
**/*.log
*.csv.gz
*.mzXML
*.mzML
*.fasta
*.dat
*.db
*.cache
*.mat
*.pin
**/.cache
**/.pytest_cache
**/.snakemake
**/lib_index
**/xinteract-output
part-*
.part-*
_SUCCESS
._SUCCESS.crc
samples*
**/samples*
**/results*
*.pep.xml
*.idXML
*.npz
*.pt
experiments/**/*.txt
experiments/**/*.tsv
*.prot.xml
*.pep.xml.index
*.tandem.xml
*.input
*.mgf
TOPPAS.log
**/TOPPAS_out
**/crux-output
slurm*.out
.swp
